/**************************************************************************************** 
*  NAME: Mital Hirapara
*  STUDENT NUMBER: 8904946
**************************************************************************************** */


body {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    line-height: 25px;
    color: #2a2a2a;
}

span,
p,
a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
}

/* Pre-loader */
#preloader {
    overflow: hidden;
    background-color: #2a2a2a;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav li {
    padding-left: 15px;
    padding-right: 15px;
}

.header-area {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #2a2a2a;
    text-transform: capitalize;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-area .main-nav .nav li a {
    color: #2a2a2a;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: #ff3209 !important;
    border-bottom: 3px solid;
    transition: all 0.2s ease-in-out;
}


/* Main header banner  */

.main-banner {
    padding-top: 30px;
    padding-bottom: 50px;
}

.main-banner .left-content .img-shadow img {
    width: 100%;
    overflow: hidden;
}

.main-banner .left-content .inner-content {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.main-banner .left-content h4 {
    color: #fff;
    margin-top: -10px;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Diplomata', serif;
    text-wrap: wrap;
    padding-right: 10px;
}

.main-banner .left-content span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-bottom: 30px;
}

.main-banner .right-first-image {
    margin-bottom: 28.5px;
}

.main-banner .right-first-image .img-shadow {
    position: relative;
    text-align: center;
}

.main-banner .right-first-image .img-shadow img {
    width: 100%;
    overflow: hidden;
}

.main-banner .right-first-image .img-shadow .inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.main-banner .right-first-image .img-shadow h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Diplomata', serif;
}

.main-banner .right-first-image .img-shadow span {
    font-size: 16px;
    color: #fff;
    font-style: italic;
}

.main-banner .right-first-image .img-shadow .hover-content {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    text-align: center;
    background-color: rgba(42, 42, 42, .97);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-banner .right-first-image .img-shadow:hover .hover-content {
    opacity: 1;
    visibility: visible;
}

.main-banner .right-first-image .img-shadow .hover-content .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main-banner .right-first-image .img-shadow .hover-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-banner .right-first-image .img-shadow .hover-content p {
    color: #fff;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.main-border-button a {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500 !important;
    color: #fff;
    border: 1px solid #ff3209;
    background-color: #ff3209;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 500;
    transition: all .3s;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.main-border-button a:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}

.sign-in-menu {
    background-color: #ff3209;
    padding: 0px 30px !important;
    border: 1px solid #ff3209;
    transition: all 0.5s ease-in-out;
    margin-left: 15px;
}

.sign-in-menu a {
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    transition: all 0.5s ease-in-out;
}

.sign-in-menu .fa {
    padding-right: 10px;
}

.sign-in-menu:hover {
    background-color: transparent;
    border-radius: 20px 0px;
}

.sign-in-menu:hover a {
    border-bottom: none !important;
}

#product {
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom: 3px dotted #eee;
}

#product .section-heading {
    margin-bottom: 60px;
}

#product .down-content {
    padding: 20px 10px;
    position: relative;
    z-index: 3;
    background-color: #fff;
}

.price {
    font-family: 'Vast Shadow', serif;
    font-weight: 500 !important;
}

#product .down-content h4 {
    font-size: 22px;
    color: #2a2a2a;
    font-weight: 700;
    margin-bottom: 8px;
}

#product .down-content span {
    font-size: 18px;
    color: #a1a1a1;
    font-weight: 500;
    display: block;
}

#product .down-content ul.stars {
    position: absolute;
    right: 10px;
    top: 30px;
}

.img-shadow img {
    width: 98% !important;
}

.slick-custom-arrow {
    color: #ff3209 !important;
    background-color: #fff !important;
    font-size: 25px !important;
    border: 1px solid #ff3209 !important;
    padding: 0px 10px !important;
    transition: all 0.4s ease-in-out;
}

.slick-custom-arrow:hover {
    color: #fff !important;
    background-color: #ff3209 !important;
    border: 1px solid #ff3209 !important;
}

.slick-prev {
    position: absolute;
    top: -150px;
    right: 70px;
}

.slick-next {
    position: absolute;
    top: -150px;
    right: 15px;
}

#product .down-content ul.stars li {
    display: inline;
    font-size: 13px;
}

#product .img-shadow .hover-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    bottom: -60px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

#product .img-shadow:hover .hover-content {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
}

#product .img-shadow {
    position: relative;
}

#product .img-shadow .hover-content ul li {
    display: inline;
    margin: 0px 10px;
}

#product .img-shadow .hover-content ul li a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    color: #2a2a2a;
    background-color: #fff;
}

.about-us-header {
    background-image: url(../Imgs/about/header-banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-header h2 {
    font-family: 'Diplomata', serif;
    text-align: center;
    color: #fff;
}

.about-us {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-us .left-image img {
    width: 100%;
    overflow: hidden;
}

.about-us .right-content {
    margin-left: 30px;
}

.about-us h4 {
    font-size: 34px;
    font-weight: 400;
    color: #2a2a2a;
    font-family: 'Vast Shadow', serif;
    text-align: center;
}

.about-us span {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 500;
    display: block;
    margin-top: 25px;
}

.about-us .quote {
    margin-top: 25px;
}

.about-us .quote i {
    float: left;
    font-size: 32px;
    margin-right: 15px;
    margin-top: 10px;
}

.about-us .quote p {
    font-style: italic;
    color: #2a2a2a;
    font-weight: 500;
}

.about-us p {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 500;
    display: block;
    margin-top: 25px;
}

.about-us ul {
    border-top: 3px dotted #eee;
    margin-top: 30px;
    padding-top: 30px;
}

.about-us ul li {
    display: inline-block;
    margin-right: 5px;
}

.about-us ul li a {
    width: 44px;
    height: 44px;
    background-color: #2a2a2a;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: all .5s;
}

.about-us ul li a:hover {
    background-color: #eee;
    color: #2a2a2a;
}

.subscribe {
    padding-top: 80px;
    padding-bottom: 80px;
}

.subscribe row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe .section-heading {
    margin-bottom: 30px;
}

.subscribe .section-heading h2 {
    line-height: 55px;
    font-family: 'Vast Shadow', serif;
}

.subscribe form input {
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

.subscribe form input::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
}

.subscribe form button {
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
}

.subscribe form button:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}

.subscribe ul li {
    margin-bottom: 30px;
    display: block;
}

.subscribe ul li {
    font-size: 16px;
    font-weight: 700;
    color: #2a2a2a;
}

.subscribe ul li span,
.subscribe ul li span a {
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
}

.subscribe ul li span a:hover {
    color: #2a2a2a;
}

footer {
    padding: 60px 0px 30px 0px;
    background-color: #2a2a2a;
}

footer .logo {
    margin-bottom: 20px;
}

footer ul li {
    display: block;
    margin-bottom: 10px;
}

footer ul li a {
    font-size: 14px;
    color: #fff;
    transition: all .3s;
}

footer ul li a:hover {
    color: #aaa;
}

footer h4 {
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .copyright {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(250, 250, 250, 0.3);
}

.links ul {
    padding-left: 0px;
}

.social_media ul {
    margin-top: 20px;
    padding-left: 0px;
}

.social_media ul li {
    display: inline-block;
    margin: 0px 10px;
}

.social_media ul li a {
    font-size: 22px;
}

footer .copyright .company_name {
    color: #ff3209;
    font-weight: 300;
    font-family: 'Vast Shadow', serif;
}

footer .copyright p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

footer .copyright a,
footer .copyright .company_name:hover {
    color: #cff;
}

#email-error-msg,
#name-error-msg,
#phone-error-msg,
#password-error-msg,
#subject-error-msg,
#message-error-msg {
    font-size: 13px;
    font-weight: 700 !important;
    color: #ff3209;
}

.hidden {
    opacity: 0;
}

#subscribe {
    position: relative;
}

.notification {
    position: absolute;
    left: 2%;
    transform: translateY(30%);
    background-color: #ff3209;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
}

.show {
    opacity: 1;
}

.signup-main,
.signin-main {
    margin-top: 60px;
}

.signup-main .section-heading,
.signin-main .section-heading {
    margin: 35px 0px;
}

.signup-main form input,
.signin-main form input {
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
    margin: 10px 0px;
}

.signup-main form input::focus,
.signin-main form input::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
}

.signup-main form .main-color-button,
.signin-main form .main-color-button ,.form-btn {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #ff3209;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
}

.signup-main form button:hover,
.signin-main form button:hover, .form-btn:hover {
    background-color: #2a2a2a;
    border: 1px solid #2a2a2a;
}

#register-img img {
    height: 580px;
    width: auto;
}

.signup-main h2,
.signin-main h2 {
    font-family: 'Vast Shadow', serif;
}

.already-sign-in p {
    font-size: 13px !important;
    margin-top: 30px;
    font-weight: 700 !important;
    color: #333;
    text-align: center;
}

.already-sign-in a {
    font-size: 14px;
    font-family: 'Vast Shadow', serif;
    color: #ff3209;
    font-weight: 500 !important;
}

.already-sign-in a:hover {
    color: #333;
}

.box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mission{
    z-index: -1;
}
.mission .mission-para{
    text-align: center;
    margin-bottom: 40px;
}

.single-cool-fact {
    position: relative;
    text-align: center;
  }
  
  .single-cool-fact img {
    display: block;
    margin: 0 auto 10px;
  }
  
  .single-cool-fact h3 .counter {
    font-size: 40px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 900 !important;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
  }
  
  .single-cool-fact h6 {
    font-size: 18px;
    margin-bottom: 0;
  }


  .contact-us-header {
    background-image: url(../Imgs/contact/contact-banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us-header h2 {
    font-family: 'Diplomata', serif;
    text-align: center;
    color:#fff;
   
}


.contact-form-area .form-control {
    height: 52px;
    width: 100%;
    background-color: #f3f5f8;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
    border: none;
    border-left: 3px solid #f3f5f8;
    border-radius: 0;
    padding: 15px 30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  
  .contact-form-area .form-control:focus {
    border-left: 3px solid #ff3209;
    box-shadow: none;
  }
  
  .contact-form-area textarea.form-control {
    height: 200px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  .touch-heading h4{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Vast Shadow', serif;
    font-size: 34px;
    font-weight: 400;

  }
  .work-info {
    padding: 30px;
    margin-top: 30px;
}
.work-info row{
    display: flex;
    justify-content: space-between;
}
.contact-box{
   border: 1px solid #333;
   border-radius: 10px;
   width: 32% !important;
   margin: auto;
   height:500px;
   padding: 30px 20px;
} 
.contact-box h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    font-size: 25px;
    letter-spacing: 1px;
    height: 60px;
}
.contact-box-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
